.AttributeEditor {
    height: 100%;
    flex: 1 0 42%;

    border-left: 1px solid black;
    background-color: #34495E;

    color: white;

    font-size: 0.75rem;
    overflow-x: hidden;
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .SideAlign {
            display: flex;
            height: fit-content;
            flex-direction: row;

            justify-content: center;
            align-content: center;
            margin: 0.4rem 0;
        }

        .CenteredValues {
            flex: 1 1 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            margin: 0.2rem 0;
        }

        .MainValues {
            width: 100%;
            flex: 0 0 10%;

            margin: 1%;
            margin-left: 3%;

            display: table;
            flex-wrap: wrap;

            &> table {
            width: 100%;
                height: 100%;
            }
        }

        .FormTabs {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            width: 100%;
            flex: 0 1 75%;

            &-Buttons {
                width: 100%;
                height: 1rem;
                border-bottom: 2px solid black;

                display: flex;            
                flex-wrap: nowrap;

                & > * {
                    flex: 1 1 15ch;
                    overflow-x: hidden;
                    padding: 0 0.5%;
                    background-color: whitesmoke;
                    color: black;
                    text-decoration: none;

                    border-right: 1px solid black;
                    &:hover {
                        background-color: lightgray;
                    }
                }
            }

            &-ActiveButton {
                color: white;
                background-color: gray;
            }

            .VerticalAlign {
                
                & > * {
                    margin: 2% 0;
                }
            }

            .CarPictures {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .ImageContainer {
                    width: 60%;
                    height: 30%;
                    border: 1px solid black;
                    
                    margin-top: 1%;
                    padding: 1% 2%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .OwnerCars {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;
                
                div.CarResults {
                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    div.CarTable {
                        width: 80%;
                        height: 85%;            
                        background-color: whitesmoke;

                        //border-radius: 5px;

                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 0.6rem;
                            height: 0.6rem;
                        }
                
                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: gray;
                            border-radius: 5px;
                        }

                        table {
                            width: 100%;

                            border-collapse: separate;
                            pointer-events: none;

                            th {
                                position: sticky;
                                top: 0;
                                background-color: #315a83;
                            }

                            td {
                                height: 10%;
                            }
                        }                        
                    }
                }
            }
        }

        .MainButtons {
            width: 100%;
            flex: 0 0 7.2%;

            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;
            overflow: hidden;

            & > * {
                flex: 1 1 20%;
            }

            button {
                height: 100%;
                padding: 0.5rem 0.75rem;
                color: whitesmoke;

                background-color: #315a83;
                border-style: none;
                border-radius: 0.5em;

                transition:  color, background-color 0.2s ease-in-out;
                &:hover {
                    color: black;
                    background-color: lightgray;
                    cursor: pointer;
                }
            }

            a {
                padding: 0.5rem 0.75rem;
                background-color: #315a83;
                border-radius: 0.5em;

                transition:  color, background-color 0.2s ease-in-out;
                &:hover {
                    color: black;
                    background-color: lightgray;
                    cursor: pointer;
                }
            }
        }
    }
}