.CallMessage {
    background-color: #34495E;
    box-shadow: 0 0 0 1px black;
    user-select: none;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #496886;
        cursor: pointer;
    }

    td {
        padding: 2% 0;
        text-align: center;
        vertical-align: middle;
    }
}