.MessageContainer {
    flex: 1 1 96%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #34495E;

    .Container {
        width: 97%;
        height: 97%;

        overflow-y: auto;
    }
}