.ListViewer {

    flex: 1 1 50%;

    background-color: #2C3E50;

    .Searchbar {
        height: 5%;
        width: 100%;
        padding: 5px 0.5%;

        display: flex;
        align-items: center;

        border-bottom: 1px solid black;

        &-SearchContainer {
            width: 100%;

            background-color: transparent;
            

            input[type=text] {
                width: 88% - 1%;

                color: #2C3E50;
                background-color: whitesmoke;
                border: 2px transparent solid;
                border-radius: 5px 0px 0px 5px;
                
                &:hover {
                    border: 2px lightgray solid;
                }

                &:focus {
                    outline: none !important;
                }
            }

            button {
                width: 12% - 1%;
                padding: 1px;

                background-color: whitesmoke;
                border: 2px transparent solid;
                border-left: 1px black solid;
                border-radius: 0 5px 5px 0;

                &:hover {
                    background: lightgray;
                }
            }
        }
    }

    .SearchResults {
        width: 100%;
        height: 90%;

        overflow-y: scroll;

        .QuerySearchResult {
            width: 100%;
            height: 4%;
            display: flex;

            background-color: lightblue;
            margin: 0.5rem 0.2rem;

            a {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;

                &:hover {
                    pointer-events: painted;
                }
            }
        }
    }
}