.ListViewer {
    height: 100%;
    flex: 0 0 50%;
    max-width: 55%;

    display: flex;
    flex-direction: column;

    background-color: #2C3E50;

    .Searchbar {
        flex: 0 0 5%;
        width: 100%;
        padding: 5px 0.5%;

        display: flex;
        align-items: center;

        border-bottom: 1px solid black;

        &-SearchContainer {
            width: 100%;

            background-color: transparent;
            

            input[type=text] {
                width: 88% - 1%;

                color: #2C3E50;
                background-color: whitesmoke;
                border: 2px transparent solid;
                border-radius: 5px 0px 0px 5px;
                
                &:hover {
                    border: 2px lightgray solid;
                }

                &:focus {
                    outline: none !important;
                }
            }

            button {
                width: 12% - 1%;
                padding: 1px;

                background-color: whitesmoke;
                border: 2px transparent solid;
                border-left: 1px black solid;
                border-radius: 0 5px 5px 0;

                &:hover {
                    background: lightgray;
                }
            }
        }
    }

    .SearchResults {
        width: 100%;
        flex: 1 1 80%;

        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0.6rem;
            height: 0.6rem;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 5px;
        }

        table {
            width: 100%;
            border-collapse: separate;
            
            th {
                position: sticky;
                top: 0;
                background-color: white;

                color: black;
            }
        }
    }
}